.App{
  background-color: white;
  width: 50%;
  height: 40vw;
  margin: auto;
  margin-top: 20vw;
  margin-bottom: 5vw;
  
}
.title{
  text-align: center;
  padding: 4px;

}
.btn{
  
  width: 80%;
  padding: 8px;
  margin-top: 2%;
  margin-left:10%;
  background-color:rgb(255, 0, 179) ;
  color: white;
  border: none;
  border-radius: 5px;
  
}