.List{
   
    display: flex;
    text-align: left;
    align-items: center;
    margin-top:10px;
    margin-left:10%;
    padding: 2%;
    font-family: 'Courier New', Courier, monospace;

}
img{
   width: 50px;
   height:50px;
   background-color: pink;
   border-radius: 50%;
   margin-right: 5%;
}

.name{
    margin:0px;
}
.age{
    margin: 0px;

}